<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{details.title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #666;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .pass {
            color: green;
        }
        .fail {
            color: red;
            font-weight :bold;
        }
        .ignore {
            color: grey;
            font-weight :bold;
        }
        .charts-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .chart {
            width: 50%;
        }
    </style>
    <!-- 引入 ECharts 的 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
</head>
<body>
    <h1>{{details.title}}</h1>

    <h2>测试概要</h2>
    <table style="width: 30%; height: 100px;">
        <tr>
            <td>执行日期</td>
            <td>{{details.createdate}}</td>
        </tr>
        <tr>
            <td>执行环境</td>
            <td>{{details.host}}</td>
        </tr>
    </table>

    <h2>测试结果</h2>
    <p>接口总数: {{details.total}}</p>
    <p class="pass">通过: {{details.pass}}</p>
    <p class="fail">失败: {{details.failed}}</p>
    <p class="ignore">忽略: {{details.ignore}}</p>

    <h2>图表</h2>
    <div class="charts-container">
        <!-- 饼图区域 -->
        <div class="chart" style="position:relative;display:inline-block;width:45%">
            <h3>饼图（通过/失败占比）</h3>
            <div id="pieChart" style="width: 100%; height: 300px;"></div>
        </div>

        <!-- 柱状图区域 -->
        <div class="chart" style="position:relative;display:inline-block;width:45%">
            <h3>柱状图（不同模块）</h3>
            <div id="barChart" style="width: 100%; height: 300px;"></div>
        </div>
    </div>
    <!-- 用例集和模块循环开始 -->
    <table>
        <thead>
            <tr>
                <th style="width: 35px">序号</th>
                <th style="width: 35px">状态</th>
                <th>场景或模块名</th>
                <th style="max-width: 500px">接口地址</th>
                <th style="max-width: 500px">校验详情</th>
            </tr>
        </thead>

        {% for case in details.caseList %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{case.nmber}}</td>
            <td class="[结果类别]">{{case.status}}</td>
            <td>{{case.moduleName}}</td>
            <td style="max-width: 800px;word-wrap:break-word;overflow:hidden;text-overflow: ellipsis;">{{case.url}}</td>
            <td style="max-width: 500px">{{case.errorinfo}}</td>
        </tr>
        {% endfor %}
        <!-- 添加更多测试用例行 -->
    </table>
    <!-- 用例集和模块循环结束 -->
    <script>
        // 使用 ECharts 生成饼图
        var pieChart = echarts.init(document.getElementById('pieChart'));
        var pieOption = {
            series: [{
                type: 'pie',
                data: [
                    { value: [{{details.pass}}], name: '通过' },
                    { value: [{{details.failed}}], name: '失败' },
                    { value: [{{details.ignore}}], name: '忽略' }
                ],
                itemStyle: {
                    color: function (params) {
                        // 根据不同类别设置不同的颜色
                        if (params.name === '通过') {
                            return 'green';
                        } else if (params.name === '失败') {
                            return 'red';
                        } else if (params.name === '忽略') {
                            return 'grey';
                        }
                    }
                },
                label: {
                    show: true,
                    formatter: '{b}: {c} ({d}%)'
                }
            }]
        };
        pieChart.setOption(pieOption);
        // 使用 ECharts 生成柱状图
        var barChart = echarts.init(document.getElementById('barChart'));
        var barOption = {
            xAxis: {
                type: 'category',
                data: {{details.moduleNameList}}
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                type: 'bar',
                data: {{details.moduleCaseTotal}}
            }]
        };
        barChart.setOption(barOption);
    </script>
</body>
</html>
