#!/usr/bin/python3
# -*- coding: utf-8 -*-
# @Author  : system
# @File    : {{file_name}}.py

import allure

class {{class_name}}:
    """
    {{name}}
    """

    {{# interfaces}}
    @allure.step("{{name_cn}}")
    def {{name_en}}(self, item_fixture{{# params_args}}, {{{.}}}{{/ params_args}}{{# params_kwargs}}, {{{.}}}{{/ params_kwargs}}{{# body}}, body_kwargs=None{{/ body}}{{# query_params}}, query_kwargs = None{{/ query_params}}, **kwargs):
        """
        {{name_cn}}
        :param item_fixture: item fixture,
        {{# params_description_list}}
        :param {{{.}}}
        {{/ params_description_list}}
        {{# body}}
        :param body_kwargs: body if body_kwargs is None else body_kwargs
        {{/ body}}
        """
        resource = f"{{interface_basePath}}{{uri}}"
        {{# body}}
        body = {{{body}}}
        body_kwargs = body if body_kwargs is None else body_kwargs
        {{/ body}}
        {{# query_params}}
        params = {{{query_params}}}
        query_kwargs = params if query_kwargs is None else query_kwargs
        {{/ query_params}}
        {{# cookie_params}}
        cookies_kwargs = {{{cookie_params}}}
        {{/ cookie_params}}
        response = item_fixture.send_request("{{method}}", resource{{# body}}, payload = body_kwargs{{/ body}}{{# body_binary}}, files = {'file':open({{body_binary}}, 'rb')}{{/ body_binary}}{{# query_params}}, params = query_kwargs{{/ query_params}}{{# cookie_params}}, cookies_kwargs = cookies_kwargs{{/ cookie_params}}, **kwargs)
        return response

    {{/ interfaces}}