#!/usr/bin/python3
# -*- coding: utf-8 -*-
# @Author  : system
# @File    : {{file_name}}.py

import allure

class {{class_name}}:
    """
    {{name}}
    """

    {{# interfaces}}
    @allure.step("{{name_cn}}")
    def {{name_en}}(self, item_fixture{{# params_args}}, {{{.}}}{{/ params_args}}{{# params_kwargs}}, {{{.}}}{{/ params_kwargs}}{{# body}}, bodyKwargs=None{{/ body}}):
        """
        {{name_cn}}
        :param item_fixture: item fixture,
        {{# params_description_list}}
        :param {{{.}}}
        {{/ params_description_list}}
        {{# body}}
        :param bodyKwargs: body if bodyKwargs is None else bodyKwargs
        {{/ body}}
        """
        resource = f"{{project}}{{uri}}"
        {{# body}}
        body = {{{body}}}
        payload = body if bodyKwargs is None else bodyKwargs
        {{/ body}}
        {{# query_params}}
        query_params = {{{query_params}}}
        {{/ query_params}}
        {{# cookie_params}}
        cookies_kwargs = {{{cookie_params}}}
        {{/ cookie_params}}
        response = item_fixture.request("{{method}}", resource{{# body}}, payload = payload{{/ body}}{{# body_binary}}, files = {'file':open({{body_binary}}, 'rb')}{{/ body_binary}}{{# query_params}}, params = query_params{{/ query_params}}{{# cookie_params}}, cookies_kwargs = cookies_kwargs{{/ cookie_params}})
        return response

    {{/ interfaces}}